/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-jun-2015, 20:14:56
    Author     : maikel
*/

body{font-family:tahoma;font-size:12px;}

#signup-step{margin:2px;padding:0;width:auto}

#signup-step li{list-style:none; float:left;padding:5px 10px;border-top:#FF0000 1px solid;border-left:#FF0000 1px solid;border-right:#FF0000 1px solid;border-radius:5px 5px 0 0;}
.active{color:#FF0000;}

#tabs{
    margin:auto;
    padding:5px; 
}
    
#tabs li{
    list-style:none;
    float:left;padding:5px 10px;
    border-top:#FF0000 1px solid;
    border-left:#FF0000 1px solid;
    border-right:#FF0000 1px solid;
    border-radius:5px 5px 0 0;}
.active{
    background-color: #FF0000;
    color: white;
    
}

#tabs li.active{background-color:#FF0000;}
#signup-form{
    clear:both;
    border-top-style: solid;
    border-color: #FF0000;
    border-width: 2px;
    padding:20px;
    margin:auto;
}
.demoInputBox{padding: 10px;border: #CDCDCD 1px solid;border-radius: 4px;background-color: #FFF;width: 50%;}
.signup-error{color:#FF0000; padding-left:15px;}
.message {color: #00FF00;font-weight: bold;width: 100%;padding: 10;}
.btnAction{padding: 5px 10px;background-color: #F00;border: 0;color: #FFF;cursor: pointer; margin-top:15px;}
label{line-height:35px;}
h1{
	margin:3px 0;
	font-size:13px;
	text-decoration:underline;
	text-align:center;
}
.tLink{
	font-family:tahoma;
	size:12px;
	padding-left:10px;
	text-align:center;
}